* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */
nav {
  background-color: #2c2c2c;
  position: fixed;
  width: 100%;
  transition: 0.25s ease-in;
}
nav.sticky {
  background-color: #ffffff;
  box-shadow: 5px 0px 5px gray;
}
nav.sticky .container h1 a,
nav.sticky .container ul li a {
  color: #2c2c2c;
}

nav.sticky .container h1 a:hover,
nav.sticky .container ul li a:hover {
  color: #505050;
}

.container {
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 a {
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: none;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* jumbotron */
.jumbotron {
  background-color: #2c2c2c;
  height: 57vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron .img {
  margin-top: 100px;
}

.jumbotron img {
  width: 90px;
  border-radius: 50%;
}

.jumbotron p {
  font-size: 20px;
  margin-top: 30px;
  font-style: italic;
  color: #ffffff;
}

/* about */
section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

section.about h2 {
  margin-top: 35px;
  font-size: 25px;
  font-weight: 400;
}

section.about .text {
  width: 80%;
  margin-top: 23px;
  font-weight: 300;
  font-size: 15px;
}

section.about .text p {
  text-align: center;
}

section.about .skills {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

section.about .skills p {
  font-size: 13px;
  font-style: italic;
  color: #949494;
  margin-bottom: 25px;
}

section.about .skills .logo {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

section.about .skills .logo img {
  width: 55px;
  margin: 10px 20px;
}

/* project */
section.project {
  background-color: #2c2c2c;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

section.project h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 25px;
}

section.project p {
  font-weight: 300;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

/* contact */
section.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

section.contact h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 25px;
}

section.contact .logo {
  display: flex;
  justify-content: center;
}

section.contact .logo a {
  margin: 0px 20px;
}

section.contact .logo a img {
  width: 55px;
}

/* footer */
footer {
  padding: 40px 0px;
}

footer p {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

footer p:nth-child(1) {
  margin-bottom: 13px;
}

/* icon button */
.icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  /* background-color: #2c2c2c; */
}

.icon:hover,
.icon button:hover {
  cursor: pointer;
}

.icon button svg {
  /* left: 10px; */
  position: absolute;
  top: 40px;
  left: 22px;
  fill: #ffffff;
  width: 35%;
}

.icon button svg:nth-child(2) {
  transform: rotate(180deg);
  top: 10px;
  transition: 0.5s;
  /* fill: red; */
}

.icon button svg.arrow1 {
  /* fill: red; */
  top: 35px;
  transition: 0.5s;
}

.icon button svg.arrow1.up {
  top: 18px;
}

.icon button svg.arrow2.down {
  top: 27px;
}

.icon button {
  background-color: #2c2c2c;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #2c2c2c;
}

/* Mobile Menu */
.menu {
  position: fixed;
  bottom: 110px;
  right: 30px;
  transition: 0.25s;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  min-height: 170px;
}

.menu ul li {
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 10px;
  border-radius: 40px 40px;
}

.menu ul li a:active {
  color: #bbbbbb;
}

.menu.click {
  opacity: 0.1;
  visibility: hidden;
  bottom: 75px;
}

/* Desktop version */
@media screen and (min-width: 992px) {
  .container {
    width: 1170px;
    justify-content: space-between;
    height: 75px;
  }
  nav {
    height: 75px;
  }

  nav h1 {
    font-size: 35px;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    margin-left: 62px;
    font-size: 23px;
  }

  nav .container ul li a:hover,
  nav .container h1 a:hover {
    color: #c2c2c2;
  }

  nav.sticky .container h1 a:hover,
  nav.sticky .container ul li a:hover {
    color: #2c2c2c;
  }

  /* jumbotron */
  .jumbotron {
    height: 70vh;
  }
  .jumbotron img {
    margin-top: 83px;
    width: 132px;
  }

  .jumbotron p {
    margin-top: 44px;
    font-size: 24px;
  }

  /* about */
  section.about h2 {
    margin-top: 40px;
    font-size: 32px;
  }

  section.about .text {
    margin-top: 43px;
    font-size: 20px;
  }

  section.about .skills p {
    margin-top: 43px;
    margin-left: 36px;
    font-size: 18px;
  }

  section.about .skills .logo img {
    margin: 10px 30px;
    width: 126px;
  }

  /* project */
  section.project {
    padding-top: 55px;
    padding-bottom: 61px;
    margin-top: 89px;
  }

  section.project h2 {
    margin-bottom: 35px;
    font-size: 32px;
  }

  section.project p {
    font-size: 18px;
  }

  /* contact */
  section.contact {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  section.contact h2 {
    margin-bottom: 40px;
    font-size: 32px;
  }

  section.contact .logo a img {
    width: 100px;
    margin: 0px 30px;
  }

  /* footer */
  footer p {
    font-size: 17px;
  }

  /* Button Menu */
  /* Mobile Menu */
  .menu,
  .icon {
    display: none;
  }
}
